* {
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
 /* font-family: 'Homemade Apple', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Pacifico', cursive; */
/* font-family: 'Quicksand', sans-serif; */


}
/* start blog */

 /* .quoc .container_fix{
     max-width: 1400px; 
} 
 .quoc .container_fix1{
    max-width: 1400px;
}  
 .quoc .container_fix2{
    max-width: 1400px;
}  
 .quoc .container_fix3{
    max-width: 1400px;
} */
.blog{
	/* overflow: hidden; */
	background: #f7f7f7;
}
.blog .title h3{
	color: #ff6600;
    font-size: 20px;
    font-family: 'Pacifico', cursive;
}
.blog .title h5{
font-size: 35px;
line-height: 45px;
font-weight:600 ;
font-family: 'Quicksand', sans-serif;
letter-spacing: .02em
}
.card img{
	border-radius: 7px;
}
.container_row{
 margin: 0 150px;
}
.post_content{
	background: 
	#ff6600;
	color: white;
	padding: 3px 20px;
	border-radius: 35px;
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 5px;
    display: inline-block;
}
.post-pos a{
color: white;
}
.foter2 a{
color: black;
}
.foter2 a:hover{
	color: #ff6600	;
}
a, a:hover{
	text-decoration: none;
}
.post-pos span{
	color: white;
    font-size: 15px;
    font-family: 'Quicksand'sans-serif;
    margin-left: 10px;
}
.footer1 a{
	color: black;
	font-weight: bold;
}
.card{
	border: none;
}
.card-body{
	padding: 10px 0px;
	background: #f7f7f7;
}
.card-body .card-title{
	display: block;
    font-size: 22px;
    line-height: 34px;
    font-weight: 600;
    color: #232121;
}
.post-pos{
	position: absolute;
	bottom: 15px;
	left: 10px;
}
 .card_item{
	position: relative;
	
}
.card-body p{
	color:rgba(22, 28, 45, 0.7);
	font-size: 18px;
    line-height: 28px;
    font-family: 'Quicksand',sans-serif;
	
}
.footer{
	display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}
.footer1{
	display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-gap: 10px;
    /* font-size: 18px; */
}
.footer1 img{
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    border-radius: 50%;
}
.footer1 h6{
  margin-bottom: 0;
}
.foter2{
	font-size: 15px;
    font-weight: 700;
	color: black;
}
/* testimonial */
 .title-subhny{
	font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ff6600;
    display: block;
    font-family: 'Pacifico', cursive;
}
.title-w3l {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    color: #232121;;
}
.w3l-clients a.comment-img {
    left: 0px;
    top: 0px;
    width: 85px;
    height: 85px;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
.w3l-clients .testimonial img {
    width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}
.img-responsive {
    max-width: 100%;
    display: block;
}
.w3l-clients blockquote q {
    font-size: 24px;
    line-height: 36px;
    font-style: italic;
    letter-spacing: 1px;
    font-weight: 600;
    /* font-family: system-ui; */
    font-family: 'Quicksand'sans-serif;
}
.people-info h3{
    font-weight: 600;
    font-size: 20px;
    color: #232121;
    font-family: 'Quicksand',sans-serif;
}

.w3l-clients blockquote q::before {
	color: #ff6600;
	display: block;
    font-size: 50px;
    font-family: initial;

    
} 
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #ff6600;
}
.w3l-agency-test .testimonial-content {
    max-width: 700px;
    margin: auto;
}
.testimonial p {
    margin: 0;
    padding: 0;
    font-size: 19px;
    line-height: 28px;
    color: rgba(22, 28, 45, 0.7);
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 10px;
}
.quoc2 .owl-dots .owl-dot{
    border: none ;
    outline: none;
}
/* start footer */
.footer-main{
    background-color: #000;
}
.footer-main a.navbar-brand {
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    padding: 0;
}
.footer-main p {
    font-size: 16px;
    line-height: 26px;
    color: #a5a2a1;
    font-family: 'Quicksand', sans-serif;
}
.icon_footer a {
    margin-right: 10px;
    color: #ff6600;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    background:white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 6px;
    transition: 0.3s;
}
.icon_footer a:hover{
    background-color: #ff6600;
    color: white;
}
.footer_title{
  color: #fff  ;
  font-size: 22px;
    line-height: 28px;
    margin-bottom: 30px;
    font-weight: 700;

}
.footer_list ul {
    list-style: none;
    padding: 0;
}
.footer_list ul a{
    font-size: 17px;
    line-height: 26px;
    color: #a5a2a1;
    font-family: 'Quicksand',sans-serif;
}
.footer_list ul a:hover{
    color: #ff6600;
}
.footer_list ul li{
    margin-bottom: 10px;
}
.footer-main input[type="email"] {
    padding: 14px 20px;
    font-size: 18px;
    line-height: 28px;
    border: 1px solid transparent;
    outline: none;
    width: 100%;
    color: rgba(22, 28, 45, 0.7);
    background: white;
    border-radius: 7px;
    font-family: 'Quicksand', sans-serif;
}
.btn-style {
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    border-radius: 7px;
    border: 2px solid transparent;
    background-color: #ff6600;
    transition: 0.3s;
}
.btn-style:hover{
    opacity: 0.7;
}
/* footer */
.footer2 {
    padding: 1.2em 0;
    background:#000;
    border-top: 1px solid rgb(255 255 255 / 5%);
}
.footer2 p.footer_left{
    align-self: center;
    color: #ddd;
    font-size: 17px;
}
.footer2 .footer_left a {
    color: #ff6600;
    font-size: 19px;
}
.footer2 .footer_left a:hover{
    color:#f7f7f7;
}
.footer_right li{
list-style: none;
}
.footer2 .footer_right ul li a{
    font-size: 16px;
    line-height: 26px;
    color: #a5a2a1;
    font-family: 'Quicksand',sans-serif;
}
.footer2 .footer_right ul li a:hover{
    color: #ff6600;
    
}
.text-lg-right {
    padding: 0;
}
#backtop{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background:#ff6600;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* cursor: pointer; */
  }
/* .container_fix{
    max-width: 1200px;

} */
/* .container{
    max-width: 1200px;
} */
  @media screen and (max-width:1200px){

  }
 @media screen and (max-width:992px) {

    /* .quoc .container_fix1{
       width: 100%;
    }
    .quoc .container_fix3{
        text-align: center;
    } */
    .icon_footer{
        text-align: center;
    }
 }


@media screen and (max-width:768px) {
    .icon_footer{
        text-align: center;
    }
    .footer_list ul{
      padding: 0px;
    }
    .quoc .container_fix3{
        text-align: center;
    }
    .d-flex ul{
        margin: 0;
    }
    .footerP2_right li a{
        padding-left: 10px;
    }
    .footer_left{
        text-align: center;
    }
} 







